.staff-detail-container {
  margin: 5px 0 0 0;
}

.staff-detail-container .staff-info-container {
  height: 20vh;
  box-shadow: 0px 3px 8px #a6a6a6;
}

.staff-detail-container .staff-info-container .loading {
  height: 100%;
  padding: 0;
}

.staff-detail-container .staff-info-container .loading .loading-text {
  font-size: 30px;
}

.staff-detail-container .table-filter-container {
  /* box-shadow: 0px 3px 8px #a6a6a6; */
}

.staff-detail-container .table-filter-container .box-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.staff-detail-container .table-filter-container .box {
  width: 50px;
  height: 100%;
  border: 1px solid #000000;
  margin: 0 10px 0 0;
}

.staff-detail-container .table-filter-container .box-checked {
  background-color: #00b300;
}

.staff-detail-container .card-table-container {
  box-shadow: 0px 3px 8px #a6a6a6;
}

.staff-detail-container .card-table-container .table-container {
  max-height: 389px;
  overflow-y: scroll;
}

.staff-detail-container .card-table-container .table-container .loading {
  height: 100%;
}

.staff-detail-container .table-container .td-checked {
  background-color: #00b300;
}

.staff-detail-container .table-container .table {
  margin: 0;
}

.staff-detail-container .table-container thead {
  background-color: var(--main-color);
}

.staff-detail-container .table-container th {
  text-align: center;
}

.staff-detail-container .table-container .date-th {
  width: 11%;
}

.staff-detail-container .table-container .slot-th {
  width: 11.125%;
}

.staff-detail-container .table-container td {
  text-align: center;
  vertical-align: middle;
}
