.add-accessory-to-service {
  width: 60vw;
  max-width: none !important;
}

.add-accessory-to-service .pagination {
  margin-bottom: 0;
}

.add-accessory-to-service .table-container {
}

.add-accessory-to-service .table-container .loading {
  height: 100%;
  width: 100%;
  padding: 10px 0 0 0;
  text-align: center;
}

.add-accessory-to-service .table-container .loading .loading-text {
  font-size: 30px;
}

.add-accessory-to-service .table-container .table {
  margin: 0;
}

.add-accessory-to-service .table-container thead {
  background-color: var(--main-color);
}

.add-accessory-to-service .table-container th {
  vertical-align: middle;
  text-align: center;
}
.add-accessory-to-service .table-container td {
  text-align: center;
  vertical-align: middle;
}

.add-accessory-to-service .table-container .td-accessory-name {
  cursor: pointer;
}

.add-accessory-to-service .table-container .td-accessory-name:hover {
  background-color: #d9d9d9;
}
