.manage-booking-container {
  margin: 5px 0 0 0;
}

.manage-booking-container .filter-container {
  box-shadow: 0px 3px 8px #a6a6a6;
}

.manage-booking-container .button-container {
  display: flex;
  flex-direction: row-reverse;
}

.manage-booking-container .content-container {
  box-shadow: 0px 3px 8px #a6a6a6;
}

.manage-booking-container .content-container .pagination {
  margin-bottom: 0;
}

.manage-booking-container .table-container {
  min-height: 70vh;
}

.manage-booking-container .table-container .accept {
  font-weight: 600;
  color: green;
}

.manage-booking-container .table-container .pending {
  font-weight: 600;
  color: blue;
}

.manage-booking-container .table-container .cancel {
  font-weight: 600;
  color: red;
}

.manage-booking-container .table-container thead {
  background-color: var(--main-color);
}

.manage-booking-container .table-container th {
  text-align: center;
}

.manage-booking-container .table-container td {
  text-align: center;
  vertical-align: middle;
}

.manage-booking-container .table-container .action-button-container {
  display: flex;
  justify-content: space-evenly;
}

/*Tooltip CSS*/
.booking-edit-button {
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: bold;
}

.booking-edit-button .tooltip-inner {
  background-color: blue;
  color: #fff;
}

.booking-edit-button .arrow::before {
  border-bottom-color: blue;
}
