.confirm-create-accessory-container {
  width: 60vw;
  max-width: none !important;
}

.confirm-create-accessory-container .modal-content-container {
  /* height: 90vh; */
}

.confirm-create-accessory-container
  .modal-content-container
  .modal-body-container {
  /* height: 80%; */
}

.confirm-create-accessory-container
  .modal-content-container
  .modal-body-container
  .form-label {
  font-size: 18px;
  font-weight: 700;
}

.confirm-create-accessory-container
  .modal-content-container
  .modal-body-container
  img {
  height: 300px;
  width: auto;
}

.confirm-create-accessory-container .modal-content-container button {
  width: 100px;
}

.confirm-create-accessory-container
  .modal-content-container
  button
  .spinner-border {
  width: 20px;
  height: 20px;
  border: 3px solid currentColor;
  border-right-color: transparent;
}
