.profile-setting-container {
}

.profile-setting-container .image-container {
  margin: auto;
  text-align: center;
  height: 30vh;
  width: auto;
}

.profile-setting-container .image-container label {
  margin-bottom: 0;
  height: 100%;
}

.profile-setting-container .image-container img {
  cursor: pointer;
}

.profile-setting-container .image-container img:hover {
  opacity: 0.5;
}

.profile-setting-container .save-button {
  float: right;
  width: 115px;
}

.profile-setting-container .save-button .spinner-border {
  width: 20px;
  height: 20px;
  border: 3px solid currentColor;
  border-right-color: transparent;
}

/*Tooltip CSS*/
.avatar-edit-button {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 500;
}

.avatar-edit-button .tooltip-inner {
  background-color: black;
  color: #fff;
}

.avatar-edit-button .arrow::before {
  border-bottom-color: black;
}
