.service-detail-container {
  padding: 5px 0 0 0;
}

.service-detail-container .service-info-container {
  box-shadow: 0px 3px 8px #a6a6a6;
}

.service-detail-container .service-info-container .loading {
  height: 100%;
  padding: 0;
}

.service-detail-container .service-info-container .loading .loading-text {
  font-size: 30px;
}

/*Table*/
.service-detail-container .service-table-container {
  box-shadow: 0px 3px 8px #a6a6a6;
}

.service-detail-container .service-table-container .loading {
  height: 100%;
  padding: 0;
}

.service-detail-container .service-table-container .loading .loading-text {
  font-size: 30px;
}

.service-detail-container .service-table-container .table-container {
}

.service-detail-container .service-table-container .table-container thead {
  background-color: var(--main-color);
}

.service-detail-container .service-table-container .table-container th {
  text-align: center;
  vertical-align: middle;
}

.service-detail-container .service-table-container .table-container td {
  text-align: center;
  vertical-align: middle;
}

.service-detail-container .service-table-container .button-container {
  display: flex;
  flex-direction: row-reverse;
}

.service-detail-container .service-table-container .button-container button {
  width: 100px;
}

.service-detail-container
  .service-table-container
  .button-container
  button
  .spinner-border {
  width: 20px;
  height: 20px;
  border: 3px solid currentColor;
  border-right-color: transparent;
}
