.confirm-create-booking-container {
  width: 60vw;
  max-width: none !important;
}

.confirm-create-booking-container .form-label {
  font-size: 18px;
  font-weight: 700;
}

.confirm-create-booking-container .table-container {
}

.confirm-create-booking-container .table-container .table {
  margin: 0;
}

.confirm-create-booking-container .table-container thead {
  background-color: var(--main-color);
}

.confirm-create-booking-container .table-container th {
  text-align: center;
}

.confirm-create-booking-container .table-container td {
  text-align: center;
  vertical-align: middle;
}

.confirm-create-booking-container button {
  width: 100px;
}

.confirm-create-booking-container button .spinner-border {
  width: 20px;
  height: 20px;
  border: 3px solid currentColor;
  border-right-color: transparent;
}
