.create-service-container {
  margin: 5px 0 0 0;
}

.create-service-container .service-info-container {
  height: 40vh;
  box-shadow: 0px 3px 8px #a6a6a6;
}

/*Table*/
.create-service-container .service-table-container {
  box-shadow: 0px 3px 8px #a6a6a6;
  height: 45vh;
  overflow-y: scroll;
}

.create-service-container .service-table-container .table-container {
}

.create-service-container .service-table-container .table-container thead {
  background-color: var(--main-color);
}

.create-service-container .service-table-container .table-container th {
  text-align: center;
}

.create-service-container .service-table-container .table-container td {
  text-align: center;
  vertical-align: middle;
}

.create-service-container .service-button-container {
  box-shadow: 0px 3px 8px #a6a6a6;
}

.create-service-container .service-button-container .button-container {
  display: flex;
  flex-direction: row-reverse;
}
