.create-customer-container {
  width: 60vw;
  max-width: none !important;
}

.create-customer-container .check-phonenumber-button {
  width: 100px;
}

.create-customer-container .spinner-border {
  width: 20px;
  height: 20px;
  border: 3px solid currentColor;
  border-right-color: transparent;
}

.create-customer-container button {
  width: 100px;
}

.create-customer-container button .spinner-border {
  width: 20px;
  height: 20px;
  border: 3px solid currentColor;
  border-right-color: transparent;
}
