.create-accessory-container {
  padding: 5px 0 0 0;
}

.create-accessory-container .accessory-info-container {
  box-shadow: 0px 3px 8px #a6a6a6;
}

.create-accessory-container .accessory-image-container {
  box-shadow: 0px 3px 8px #a6a6a6;
}

.create-accessory-container .accessory-image-container img {
  /* max-height: 250px;
  width: auto; */
  max-width: 100%;
  height: auto;
}

.create-accessory-container .accessory-image-container .button-container {
  display: flex;
  flex-direction: row-reverse;
}

.create-accessory-container
  .accessory-image-container
  .button-container
  button {
  width: 120px;
}

.create-accessory-container
  .accessory-image-container
  .button-container
  button
  .spinner-border {
  width: 20px;
  height: 20px;
  border: 3px solid currentColor;
  border-right-color: transparent;
}
