.booking-detail {
  width: 60vw;
  max-width: none !important;
}

.booking-detail .form-label {
  font-size: 18px;
  font-weight: 700;
}

.booking-detail .table-container {
}

.booking-detail .table-container .table {
  /* margin: 0; */
}

.booking-detail .table-container thead {
  background-color: var(--main-color);
}

.booking-detail .table-container th {
  text-align: center;
}

.booking-detail .table-container td {
  text-align: center;
  vertical-align: middle;
}

.booking-detail button {
  width: 100px;
}

.booking-detail button .spinner-border {
  width: 20px;
  height: 20px;
  border: 3px solid currentColor;
  border-right-color: transparent;
}
